{% extends "base.html.twig" %}
{% block content %}
    {{ form_start(form) }}
    <div class="passwortChange">

        <h1>Mein Konto</h1>
        <p>Hier kannst du dein neues Passwort festlegen!</p>


        {{ form_widget(form.oldPassword, {'attr': {'placeholder': 'Passwort'}}) }}

        {{ form_widget(form.newPassword, {'attr': {'placeholder': 'Neues Paswort'}}) }}

        {{ form_widget(form.passwordConfirm, {'attr': {'placeholder': 'Neues Passwort bestätigen'}}) }}

        {{ form_row(form.Speichern) }}
    </div>
    {{ form_end(form) }}

{% endblock %}