{% extends "base.html.twig" %}
{% block javascript %}
    <script src = {{ asset('/javascripts/register.js') }}></script>
{% endblock %}
{% block content %}
    {# <div class ="container">
        <h1>Registrieren</h1>
        {{ form(form) }}
    </div> #}
    {{ form_start(form) }}
    <div class="row">
        <h1>Registrieren</h1>

            {{ form_widget(form.Username, {'attr': {'placeholder': 'Username'}}) }}

            {{ form_widget(form.Passwort, {'attr': {'placeholder': 'Passwort'}}) }}

            {{ form_widget(form.Vorname, {'attr': {'placeholder': 'Vorname'}}) }}

            {{ form_widget(form.Nachname, {'attr': {'placeholder': 'Nachname'}}) }}

            {{ form_widget(form.Strasse, {'attr': {'placeholder': 'Straße'}}) }}
        
            {{ form_widget(form.Hausnummer, {'attr': {'placeholder': 'Hausnummer'}}) }}

            {{ form_widget(form.Stadt, {'attr': {'placeholder': 'Stadt'}}) }}

            {{ form_widget(form.PLZ, {'attr': {'placeholder': 'PLZ'}}) }}

            {{ form_row(form.Registrieren) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}